<?xml version="1.0" encoding="utf-8"?>
<SystemProperties>
  <SystemName>IRB_1600_6kg_1.45m</SystemName>
  <SerialNo>VIRTUAL_USE</SerialNo>
  <UsedMedia>
    <Media path="C:\Users\ufabc\AppData\Local\ABB Industrial IT\Robotics IT\RobotWare\RobotWare_6.07.0130" name="RobotWare" version="6.07.0130">
    </Media>
  </UsedMedia>
  <ControlModule>
    <Option descr="RobotWare Base">
    </Option>
    <Option descr="English">
    </Option>
  </ControlModule>
  <DriveModule>
    <Name>Robot1</Name>
    <Option descr="Drive System IRB 120/140/260/360/910SC/1200/1400/1520/1600/1660ID">
    </Option>
    <Option descr="ADU-790A in position X3">
    </Option>
    <Option descr="ADU-790A in position Y3">
    </Option>
    <Option descr="ADU-790A in position Z3">
    </Option>
    <Option descr="Axis Calibration">
    </Option>
    <Option descr="IRB 1600-6/1.45">
    </Option>
  </DriveModule>
</SystemProperties>